html{
	font-size: 62.5%;
}

body{
	color : white;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	font-size: 1.6rem;
 	margin : 0 auto;
	text-align: center;
	background-image: url(https://thumbs.dreamstime.com/b/papier-peint-des-bananes-de-coupe-30375496.jpg);
	opacity: 0.95;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

header, main{
	width: 800px;
	text-align: center;
	margin : 0 auto;
	background-attachment: fixed;
	background-color: rgba(32, 109, 122, 1);
	padding : 20px;

}


header ul{
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
} 
	
header nav ul li{
	display: inline-block;
	width: 25%;
	align-self: center;
	/*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe4qbnNJ8m0nSpewmYjVKo6pyKC-tNc7JkZ7Ap4DA388YiMds_");
	opacity: 0.8;
*/} 

header nav ul li a{
	display: inline-block;
	font-size: 3rem;
	text-decoration: none;
	color : white;
	padding: 1rem;
	font-weight: bold;
	opacity: 1;
}

h1{
	font-size: 10rem;
	text-align: center;
}


a.mepButton{
	display: inline-block;
	margin : 20px;
	margin left : 100px;
	border : 1px solid grey;
	border-radius: 10px;
	text-align: center;
	width : 150px;
	margin-right: auto;
	background-color: white;
	padding :5px;
	color :grey;
	text-decoration: none;

}
img{
	max-height: 150px;
	border-radius: 15%;
}

td {
	height: 200px;
}
.name{
	font-size: 1.5rem;
	font-weight: bold;
}

section{
	display: flex;
	flex-flow: row wrap;
	margin-top : 20px;

}
h2{
	font-size: 3rem;
	font-weight: bold;
	width: 100%;
}
div{
	width : 50% ;
	justify-content: space-between;
	margin : 30px auto;
	text-align: center;
}
.description {
	font-size: 1rem;
}