html{
	font-size: 62.5%;
}

body{
	color : white;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	font-size: 1.6rem;
 	margin : 0 auto;
	text-align: center;
	background-color: rgba(32, 109, 122, 1);
	min-height: 800px;

}

ul {
	list-style-type: none;
	padding-left: 0;
}

header, main, footer{
	width: 90%;
	text-align: center;
	margin : 0 auto;
	background-attachment: fixed;
	padding : 20px;

}


header ul{
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-weight: bold;
	background-color: white;
	color: rgba(32, 109, 122);
	border-radius: 15px;
} 
	
header nav ul li{
	display: inline-block;
	width: 25%;
	align-self: center;
} 

header nav ul li a{
	display: inline-block;
	background-color: white;
	color: rgba(32, 109, 122);
	font-size: 1.5rem;
	text-decoration: none;
	padding: 1rem;
	font-weight: bold;
	border-radius: 5px;
	opacity: 1;
}


h1,h2,h3{
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;

}
h1{
	font-size: 4rem;
	text-align: center;
}


a.mepButton{
	display: inline-block;
	margin : 20px;
	margin left : 100px;
	border : 1px solid grey;
	border-radius: 10px;
	text-align: center;
	width : 150px;
	margin-right: auto;
	background-color: white;
	padding :5px;
	color :grey;
	text-decoration: none;

}


img{
	max-height: 150px;
	border-radius: 15%;
}

td {
	height: 200px;
}
.name{
	font-size: 2rem;
	font-weight: bold;
}

section{
	display: flex;
	flex-flow: row wrap;
	margin-top : 20px;

}
h2{
	font-size: 3rem;
	font-weight: bold;
	width: 100%;
}
div{
	width : 50% ;
	justify-content: space-between;
	margin : 30px auto;
	text-align: center;
}
.description {
	font-size: 1rem;
}



a.detailButton, a.addButton{
	text-decoration: none;
	background-color : white;
	color: grey;
	font-size: 1.5rem;
	border: 1px solid grey;
	padding: 5px 10px;
	border-radius: 5px;
}


/*page produit */
.product table{
	width : 600px;
}

td{
	width :300px;
	text-align: left;

}


.product img {
	max-height: 150px;
}

.panier img{
	max-height: 100px;
}

.panier table{
	width: 700px;
    margin: 0 -150px;
    text-align: center;

}
.panier td{
    text-align: center;

}


.productPrice{
	text-align: right;
	font-weight: bold;
	font-size: 2rem;
	padding-right : 20px;
}

#connexion{
	width: 100%;
	text-align: right;

}

#connexion a{
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	padding: 2rem 3rem;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius:15px;
}
a.log{
	width: 200px;
}

.register{
	text-align: left;
	margin: 1rem auto;
}

label{
    display: inline-block;
/*    width: 175px;
*/}